<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragan.android.testing" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dragan.android.testing.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dragan.android.testing.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.dragan.android.testing.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.dragan.android.testing.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.dragan.android.testing.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dragan.android.testing.ItemListActivity" />
        </activity>
        <activity
            android:name="com.dragan.android.testing.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.dragan.android.testing.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.dragan.android.testing.TabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
